{% extends "_base.html" %}
{% block page_title %}Calendar | El Toro Battalion{% endblock %}
{% block content %}
        <div class="page-header">
            <div class="max-w-7xl mx-auto px-4">
                <h1 class="uppercase tracking-widest text-4xl">Schedule</h1>
            </div>
        </div>
        <div class="bg-gray-100 py-16">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="bg-white p-4 shadow-xl border border-gray-200" style="min-height: 800px;">
                    <iframe src="https://calendar.google.com/calendar/embed?src=c_1f7d35ad6a311671c073b76b093bf270a300743fc0e3c4777b9fd6bcf404ef57%40group.calendar.google.com&ctz=America%2FLos_Angeles" style="border: 0" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
{% endblock %}
